body {
    height: 130vh;
    background: linear-gradient(780deg, rgb(53, 15, 15), rgb(53, 15, 15), rgb(23, 5, 23), rgb(1, 1, 14), rgb(12, 12, 65), rgb(12, 12, 65));
    width: 100%;
    margin: 0;
    padding: 0;
}


.prt {
    color: white;
    font-size: 22px;
    margin-top: 30px;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
}

/* Estilos para os cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 50px auto;
    width: 90%;
}

.card {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Archivo Black", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

  
.logoo{
    width: 75px;
    height: 56px;
    margin-top: -58px;
    margin-left: 20px;
    opacity: 100%;
  }
  
  .titulo{
    color: white;
    margin-top: -66px;
    margin-left: 530px;
    font-family: "Archivo Black", sans-serif;
    font-size: 21px ;
  }
  
  .top-line {
    border-top: 1px solid #FFFFFF; /* Cor da linha */
    width: 100%;
    margin-left: -1px;
    margin-top: 70px;
    opacity: 50%;
    
  }

  nav{
  margin-top: -40px;
  margin-left: 800px;
  }
  
  .icn{
    width: 79px;
    height: 76px;
    margin-left: 630px;
    margin-top: -15px;
  }
 
  
  /* -------------------------------------------------------------------------- */
  .nome{
    color: white;
    margin-top: -48px;
    margin-left: 105px;
  }
/* Responsividade */
@media screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}


